



<html>
    <head>
        <title>Text Editor</title>
    </head>
    <style>
        #articles{
            background-color: azuref;
            display: flex;
            margin: 5px;
            padding: 3px;
            border: 10px;
            border-color: black;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
        .rticles{
            background-color: white;
            margin: 10px;
            border: 3px solid black;
            padding: 5px;
            text-align: center;
            height: 200px;
            width: 200px;
        }
    </style>
    
    <body onload="enableEditMode();">
        <div textAlign='justifyCenter'>
            <button onclick="execCmd('bold');"><h2><b>B</b></h2></button>
            <button onclick="execCmd('italic');"><h2><i>I</i></h2></button>
            <button onclick="execCmd('underline');"><h2><u>U</u></h2></button>
            <button onclick="execCmd('strikeThrough');"><h2><strike>S</strike></h2></button>
            <button onclick="execCmd('subscript');"><h2>X<sub>2</sub></h2></button>
            <button onclick="execCmd('superscript');"><h2>X<sup>2</sup></h2></button>
            <button onclick="execCmd('justifyRight');"><h2><b>AR</b></h2></button>
            <button onclick="execCmd('JustifyLeft');"><h2><b>AL</b></h2></button>
            <button onclick="execCmd('justifyCenter');"><h2><b>J</b></h2></button>
            <button onclick="execCmd('undo');"><h2><b>undo</b></h2></button>
            <button onclick="execCmd('redo');"><h2><b>redo</b></h2></button>
            <button onclick="execCmd('insertUnorderedList');"><h2><b>UL</b></h2></button>
            <button onclick="execCmd('insertOrderedList');"><h2><b>OL</b></h2></button>
            <button onclick="execCmd('insertHorizontalRule');"><h2><b>HR</b></h2></button>
            <button onclick="execCmdValue('createLink', prompt('Enter the URL', 'https:\\\\')), target='blank';"><h2><b>Link</b></h2></button>
            <button onclick="execCmd('unlink');"><h2><b>UnLink</b></h2>
          
            <br>
            <select onchange="execCmdValue('formatBlock', this.value)">
                <option value="None">None</option>
                <option value="h1">H1</option>
                <option value="h2">H2</option>
                <option value="h3">H3</option>
                <option value="h4">H4</option>
                <option value="h5">H5</option>
                <option value="h6">H6</option>
            </select>
            <select onchange="execCmdValue('fontName', this.value);">
                <option value="Arial">Arial</option>
                <option value="Times New Roman">Times New Roman</option>
                <option value="Comic Sans MS">Comic Sans MS</option>
                <option value="Georgia">Georgia</option>
                <option value="Courier">courier</option> 
            </select>
            <select onchange="execCmdValue('fontSize', this.value)">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
            </select>
            Fore Color: <input type="color" onchange="execCmdValue('foreColor', this.value)">
            <button onclick="execCmdValue('insertImage', prompt('image path or URL'));"><h2><b>image</b></h2></button>
        </div>
        <br>
        <form method="post" action="/textEditor">
            <input id="inTitle" type="text" name="title" placeholder="Title..." style="width: 80vw; font-size: xx-large;height: auto; font-weight: bold;">
            <input id="text" type="text" name="text" style="display: none;">
            <input type="submit" onclick="display()" style="font-size: xx-large;">
        </form>
        <iframe name="textField", id="textField", style="width: 90vw; height: 500px">
            <html>
                <body></body>
            </html>>
        </iframe>
        <div id="articles">
            <h2>Your Articles...</h2>
        </div>
    <script>
        console.log("script tag is working")
        let edText = `<%-inTex%>`;
        let edTitle = "<%-inTi%>";
        textField.document.getElementsByTagName('body')[0].innerHTML = edText
    document.getElementById('inTitle').value = edTitle
        
showArticles();
function enableEditMode() {
    textField.document.designMode = 'on';
}
function execCmd(command) {
    textField.document.execCommand(command, false, null);
}
function execCmdValue(command, value) {
    textField.document.execCommand(command, false, value)
}
function display() {
        let str = textField.document.getElementsByTagName('body')[0].innerHTML
        let title = document.getElementById('inTitle').value
        document.getElementById('text').value = str;
        let titleObj = []
        if(localStorage.length == 0) {
            if(title == "")
                title = "Note: 1"
        }
        else {
            titleObj = JSON.parse(localStorage.getItem('title'))
            if(title == "") {
                let len = titleObj.len + 1;
                title = "Note: " + len.toString()
            }
        }
        titleObj.push(title);
        localStorage.setItem('title', JSON.stringify(titleObj));

        showArticles();
}
function showArticles() {
    let titleObj = [<%-titleArray%>];
    if(titleObj.length > 0) {
        // let titleObj = JSON.parse(localStorage.getItem('title'))
        let html = ""
        titleObj.forEach(function(element, index) {
            html += `<div class='rticles'>
                     <h1>${element}</h1>
                     <form method="get" action="/textEditor/${element}">
                        <button type="submit" onclick="fetchDB();"><h2>Edit Article</h2></button>
                     </form>
                     </div>`
        });
        document.getElementById('articles').innerHTML = html;
    }
}
function fetchDB(index) {
    console.log('fetched')
    textField.document.getElementsByTagName('body')[0].innerHTML = edText
    document.getElementById('inTitle').value = edTitle
}
    </script>
    </body>
</html>

